:root {
    --rojo: #ff0000;
    --verde: #4c9900;
    --azul: #000099;
    --morado: #990099;
    --aguamarina: #00ffff;
}

b {
    color: var(--azul)
}

.titulo_eje2 {
    color: var(--azul);
}

.eje2 {
    color: var(--rojo);
}

.titulo_eje3 {
    color: var(--azul);
    text-align: center;
    text-decoration: underline;
}

.eje3 {
    color: var(--azul);
}

.p2_ej3 {
    color: var(--rojo);
    text-align: right;
}

.contenedor {}

.encanta {
    background-color: #4c9900;
    color: #ff0000;
    width: 300px;
    height: max-content 300px;
    text-align: center;
    padding: 50px;
    align-items: center;
    border-style: dotted;
}

.ej5 {
    text-align: center;
}

.table,
th,
td {
    border: 1px solid;
}

th {
    background-color: darkslategray;
    color: white;
}

.sombras :nth-child(1) {
    text-shadow: 2px 2px;
}

.sombras :nth-child(2) {
    text-shadow: 2px 2px red;
}

.sombras :nth-child(3) {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.sombras :nth-child(4) {
    text-shadow: 0 0 3px #FF0000;
}

.sombras :nth-child(5) {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.sombras :nth-child(6) {
    color: pink;
    text-shadow: 2px 2px 4px#0a26a3;
}

.cuadrado {
    width: 200px;
    height: 200px;
    background-color: blue;
    position: relative;
    left: 200px;
    top: 200px;
}

.rojo {
    width: 200px;
    height: 200px;
    background-color: rgb(170, 12, 12);
    position: absolute;
    left: 250px;
    top: 250px;
}

.verde {
    width: 200px;
    height: 200px;
    background-color: rgb(17, 214, 106);
    position: absolute;
    left: 300px;
    top: 300px;
}

.centrar {
    text-align: center;
    margin: 120px 500px;
    border: solid 2px;
}

.titulo_eje7 {
    background-color: gray;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    margin-block-start: 0%
}

.footer {
    background-color: rgba(97, 95, 94, 0.986);
    padding: 10px;
}

.tituloej9 {
    color: #000099;
    text-transform: capitalize;
}

.subtituloej9 {
    color: #000099;
    text-transform: capitalize;
}

.palabraej9 {
    color: #ff0000;
}

.negrita {
    font-weight: bold;
    text-transform: capitalize;
}

.registro {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-transform: capitalize;
}

.ej10 {
    width: 400px;
    height: 200px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.top {
    vertical-align: text-top;
}

.middle {
    vertical-align: middle;
}

.botton {
    vertical-align: bottom;
}

.ej11 {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: auto;
}

.imgej11 {}

.tituloej11 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.botonej11 {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    margin: 2px 2px;
    cursor: pointer;
    text-transform: capitalize;
}

.ej12 {
    align-items: center;
    text-align: center;
    margin: auto;
    width: 600px;
    height: 150px;
    background-color: #000000;
    color: antiquewhite;
    font-size: 30px;
}

.ej13 {
    margin: 0 auto;
    width: 400px;
    height: 200px;
    text-align: center;
    text-transform: capitalize;
}

.th_ej13,
th {
    background-color: rgb(22, 21, 66)
}

#ej1 {
    background-color: rgb(22, 21, 66);
    color: antiquewhite;
}

#ej2 {
    background-color: rgb(22, 21, 66);
    color: antiquewhite;
}

#ej3 {
    background-color: rgb(22, 21, 66);
    color: antiquewhite;
}

#ej4 {
    background-color: rgb(22, 21, 66);
    color: antiquewhite;
}

tr:nth-child(even) {
    background-color: #04AA6D;
}

.ej14 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 200px 100px;
    gap: 20px 20px;
    text-align: center;

}

.clase14,
.icon {
    background-color: #FF0000;
    width: auto;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ej15 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}
.contenidoej15{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: grey;
}